@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-de-fundo: #1E90FF;
    --cor-do-orcamento: #2f6faf;
    --cor-do-rodape: #152535;
    --cor-branca: #FFFFFF;
    --cor-preta: #000000;
    --cinza-secundario: #C0C0C0;


    --fonte-primaria: 'Krona one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    background-color: var(--cor-de-fundo);
}
html {
    scroll-behavior: smooth;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 5px;
    color: var(--cor-preta);
}

form input,
form textarea,
form select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form button {
    padding: 10px;
    background-color: var(--cor-de-fundo);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--cor-de-fundo);
}

.cabecalho-principal {
    background: linear-gradient(to right, var(--cor-preta), var(--cor-de-fundo));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.cabecalho-principal .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8% 0;
}

#divisor,
#divisor2,
#divisor3,
#divisor4 {
    z-index: 1;
    height: 0.2rem;
    margin: 0.20% 0;
    border-radius: 1rem;
}

.divisor-diagonal {
    margin: 0 50%;
    width: 50%;
    height: 2px;
    background-color: var(--cor-de-fundo);
    position: static;
    transform: skewY(-50deg);
    transform-origin: top left;
}

.cabecalho-principal nav ul {
    list-style-type: none;
    display: flex;
    font-family: var(--fonte-secundaria);
}

.cabecalho-principal nav ul li {
    margin: 0 3.5rem 0 0;
}

.cabecalho-principal img {
    width: 350px;
    height: 200px;
    margin-right: 30px;
    margin-top: -40px;
    margin-bottom: -60px;
}

.cabecalho-principal nav ul li a {
    position: flex;
    margin-right: 10px;
    color: var(--cor-branca);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px 8px;
    background-color: rgba(22, 21, 21, 0.5);
    border-radius: 5px;
    font-family: var(--fonte-secundaria);
}

.cabecalho-principal nav ul li a:hover {
    background-color: var(--cor-preta);
}

section {
    padding: 40px 0;
    text-align: center;
    flex: 1 0 auto;
}

#inicio {
    background: url('images/empresa-seguranca.jpg') no-repeat center center/cover;
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#inicio .fundo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#inicio .texto-boas-vindas {
    position: relative;
    z-index: 1;
    width: 60%;
}

#inicio .texto-boas-vindas h2 {
    font-family: var(--fonte-secundaria);
    margin-left: 6.25rem;
    margin-bottom: 20px;
    font-size: 45px;
    text-align: left;
}

#inicio .formulario-orcamento {
    margin: 10%;
    position: relative;
    z-index: 1;
    width: 25%;
    background-color: #2f6faf;
    padding: 1.3rem;
    box-shadow: 0 0 20px var(--cor-preta);
    border: 0.2rem solid var(--cor-preta);
    border-radius: 15px;
    font-family: var(--fonte-secundaria);
}

#inicio .formulario-orcamento h2 {
    color: var(--cor-preta);
}

#inicio .formulario-orcamento button {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    border: 1px solid var(--cor-preta);
    padding: 2%;
    margin: 2%;
}

#inicio .formulario-orcamento button:hover {
    background-color: var(--cor-do-rodape);
    color: var(--cor-branca);
}

.texto-select {
    text-align: center;
}

#alarmes {
    position: relative;
    height: 100vh;
    color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: url('images/fundo-sistemas.jpg') no-repeat center center/cover;
}

#alarmes .fundo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alarmes .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#alarmes h2 {
    margin-bottom: 60px;
    font-size: 45px;
    color: var(--cor-branca);
    text-align: center;
    font-family: var(--fonte-secundaria);
    width: 100%;
}

#alarmes .conteudo-alarmes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#alarmes p {
    color: var(--cor-branca);
    font-size: 28px;
    text-align: left;
    margin-right: 50px;
    font-family: var(--fonte-secundaria);
    max-width: 800px;
}

#alarmes .caixa-imagem-alarme {
    width: 650px;
    height: 600px;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 150px;
    box-shadow: 0 0 20px var(--cor-preta);
    overflow: hidden;
    padding: 2px;
}

#alarmes .caixa-imagem-alarme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-alarmes {
    background-color: var(--cor-do-rodape);
    display: inline-block;
    padding: 10px 10px;
    border-radius: 7px;
}

.link-alarmes a {
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: bold;
}

.link-alarmes:hover {
    background-color: var(--cor-preta);
}

#cameras {
    position: relative;
    height: 100vh;
    color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: url('images/fundo-cameras.jpg') no-repeat center center/cover;
}

#cameras .fundo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cameras .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cameras h2 {
    margin-bottom: 60px;
    font-size: 45px;
    color: var(--cor-branca);
    text-align: center;
    font-family: var(--fonte-secundaria);
    width: 100%;
}

#cameras .conteudo-cameras {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#cameras p {
    color: var(--cor-branca);
    font-size: 28px;
    text-align: left;
    margin-left: 140px;
    font-family: var(--fonte-secundaria);
    max-width: 700px;
}

#cameras .caixa-imagem-camera {
    width: 650px;
    height: 650px;
    border-radius: 10px;
    margin-right: 90px;
    box-shadow: 0 0 20px var(--cor-preta);
    overflow: hidden;
}

#cameras .caixa-imagem-camera img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-cameras {
    display: inline-block;
    background-color: var(--cor-do-rodape); /* Cor consistente com botões */
    padding: 10px 10px;
    border-radius: 7px;
}

.link-cameras a {
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: bold;
}

.link-cameras:hover {
    background-color: var(--cor-preta);
}

#sistemas {
    position: relative;
    height: 100vh;
    color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: url('images/fundo-sistemas.jpg') no-repeat center center/cover;
}

#sistemas .fundo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sistemas .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sistemas h2 {
    margin-bottom: 60px;
    font-size: 45px;
    color: var(--cor-branca);
    text-align: center;
    font-family: var(--fonte-secundaria);
    width: 100%;
}

#sistemas .conteudo-sistemas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#sistemas p {
    color: var(--cor-branca);
    font-size: 28px;
    text-align: left;
    margin-right: 85px;
    font-family: var(--fonte-secundaria);
    max-width: 800px;
}

#sistemas .caixa-imagem-sistema {
    width: 650px;
    height: 600px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 0 0 20px var(--cor-preta);
    overflow: hidden;
    padding: 2px;
}

#sistemas .caixa-imagem-sistema img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-sistemas {
    display: inline-block;
    background-color: var(--cor-do-rodape); /* Cor consistente com botões */
    padding: 10px 10px;
    border-radius: 7px;
}

.link-sistemas a {
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: bold;
}

.link-sistemas:hover {
    background-color: var(--cor-preta);
}


section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--cor-branca);
}

section p {
    margin-bottom: 20px;
    color: var(--cor-branca);
    font-size: 18px;
}

section img {
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid var(--cor-branca);
    padding: 5px;
    background-color: var(--cor-branca);
}

/* Estiliza o footer */

.rodape-index {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-do-rodape);
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    color: var(--cor-branca);
    font-size: 14px;
}

.rodape-texto {
    font-family: var(--fonte-secundaria);
}