/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante altura mínima da viewport */
    margin: 0;
    padding-top: 80px;
    background-color: #3A6EA5;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 5px;
    color: #000;
}

form input,
form textarea,
form select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

form button {
    padding: 10px;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #1C86EE;
}

/* ESTILOS PARA INDEX.HTML */
.container {
    width: 100%;
    max-width: 2200px;
    margin: auto;
    padding: -20px;
    overflow: hidden;
}

.cabecalho-principal {
    background: linear-gradient(to right, #000, #1E90FF);
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.cabecalho-principal .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#divisor,
#divisor2,
#divisor3,
#divisor4 {
    z-index: 100;
    height: 0.2rem;
    margin: 0.20% 0;
    border-radius: 1rem;
}

.divisor-diagonal {
    margin-left: 1050px;
    width: 100%;
    height: 2px;
    background-color: #1E90FF;
    position: static;
    transform: skewY(-50deg);
    transform-origin: top left;
}

.logo-empresa img {
    height: 30px;
}

.cabecalho-principal nav ul {
    list-style: none;
    display: flex;
}

.cabecalho-principal nav ul li {
    margin: 0 15px;
}

.cabecalho-principal img {
    width: 350px;
    height: 200px;
    margin-right: 30px;
    margin-top: -40px;
    margin-bottom: -60px;
}

.cabecalho-principal nav ul li a {
    position: flex;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px 8px;
    background-color: rgba(22, 21, 21, 0.5);
    border-radius: 5px;
}

.cabecalho-principal nav ul li a:hover {
    color: #1E90FF;
    background: #fff;
}

section {
    padding: 40px 0;
    text-align: center;
    flex: 1 0 auto;
}

#inicio {
    background: url('images/empresa-seguranca.jpg') no-repeat center center/cover;
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#inicio .fundo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#inicio .texto-boas-vindas {
    position: relative;
    z-index: 1;
    width: 40%;
}

#inicio .texto-boas-vindas h2 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 45px;
    text-align: left;
    line-height: 1.1;
    word-spacing: -2px;
}

#inicio .formulario-orcamento {
    margin-right: 150px;
    position: relative;
    z-index: 1;
    width: 30%;
    background-color: #2f6faf;
    padding: 20px;
    box-shadow: 0 0 20px #000;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#inicio .formulario-orcamento h2 {
    color: #000;
}

#inicio .formulario-orcamento button {
    background-color: #000;
    color: #fff;
}

#alarmes {
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: url('images/fundo-sistemas.jpg') no-repeat center center/cover;
}

#alarmes .fundo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#alarmes .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#alarmes h2 {
    margin-bottom: 60px;
    font-size: 45px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

#alarmes .conteudo-alarmes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#alarmes p {
    color: #fff;
    font-size: 28px;
    text-align: left;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
}

#alarmes .caixa-imagem-alarme {
    width: 650px;
    height: 600px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
    padding: 2px;
}

#alarmes .caixa-imagem-alarme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-alarmes {
    display: inline-block;
    background-color: #152535; /* Cor consistente com botões */
    padding: 10px 10px;
    border-radius: 7px;
}

.link-alarmes a {
    color: #ffffffcc;
    text-decoration: none;
    font-weight: bold;
}

.link-alarmes:hover {
    background-color: #1C86EE; /* Hover consistente */
}

#cameras {
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: url('images/fundo-cameras.jpg') no-repeat center center/cover;
}

#cameras .fundo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#cameras .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cameras h2 {
    margin-bottom: 60px;
    font-size: 45px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

#cameras .conteudo-cameras {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#cameras p {
    color: #fff;
    font-size: 28px;
    text-align: left;
    margin-left: 140px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

#cameras .caixa-imagem-camera {
    width: 650px;
    height: 650px;
    border-radius: 10px;
    margin-right: 90px;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
}

#cameras .caixa-imagem-camera img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-cameras {
    display: inline-block;
    background-color: #152535; /* Cor consistente com botões */
    padding: 10px 10px;
    border-radius: 7px;
}

.link-cameras a {
    color: #ffffffcc;
    text-decoration: none;
    font-weight: bold;
}

.link-cameras:hover {
    background-color: #1C86EE; /* Hover consistente */
}

#sistemas {
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: url('images/fundo-sistemas.jpg') no-repeat center center/cover;
}

#sistemas .fundo {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#sistemas .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sistemas h2 {
    margin-bottom: 60px;
    font-size: 45px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

#sistemas .conteudo-sistemas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#sistemas p {
    color: #fff;
    font-size: 28px;
    text-align: left;
    margin-right: 85px;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
}

#sistemas .caixa-imagem-sistema {
    width: 650px;
    height: 600px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
    padding: 2px;
}

#sistemas .caixa-imagem-sistema img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-sistemas {
    display: inline-block;
    background-color: #152535; /* Cor consistente com botões */
    padding: 10px 10px;
    border-radius: 7px;
}

.link-sistemas a {
    color: #ffffffcc;
    text-decoration: none;
    font-weight: bold;
}

.link-sistemas:hover {
    background-color: #1C86EE; /* Hover consistente */
}


section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
}

section p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 5px;
    background: #fff;
}

/* Estiliza o footer */
footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #152535;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-rodape {
    height: 110px;
    width: auto;
    margin-left: 700px;
}

.rodape-index {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    background-color: #152535;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    height: 100%;
    position: relative;
}

/* LOGIN LOGIN LOGIN LOGIN LOGIN */
.login {
    flex: 1; /* Faz o .login crescer para ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    background-color: #3A6EA5;
    min-height: 100vh; /* Garante altura mínima */
    margin: 0;
    padding: 0;
}
.pagina-login {
    max-width: 1100px;
    margin: 250px auto;
    padding: 50px;
    background-color: #3A6EA5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    background: url('images/empresa-seguranca.jpg') no-repeat center center/cover;
}

.pagina-login .fundo-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 1;
    border-radius: 10px;
}

.pagina-login .conteudo-formulario {
    position: relative;
    z-index: 2;
}

.pagina-login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.pagina-login form label {
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

.pagina-login form input {
    max-width: 600px;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 1px solid #A3C1D3;
    border-radius: 5px;
}

.pagina-login form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.rodape-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #152535;
    padding: 15px 20px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* RECUPERAR-SENHA RECUPERAR-SENHA RECUPERAR-SENHA */
.rodape-recuperar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #152535;
    padding: 15px 20px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    /* Remover position: fixed para integrar ao fluxo do layout */
}

.link-recuperar {
    display: block;
    text-align: right;
    margin: 10px 0 15px;
    color: #1E90FF;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.link-recuperar:hover {
    color: #fff;
    text-decoration: underline;
}